{% extends "layout.html" %}

{% block body %}
  <h2>Works of {{ author.name }}</h2>

  <div class="table-responsive"> 
  <table class="table">
    <thead>
      <tr>
        <th>Work</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
    {% for work in works %}
    <tr>
      <td>
        <a href="{{ url_for('work_view', work_id=work.id) }}">{{ work.name }}</a>
      </td>
      <td>{{ work.published }}</td>
    </tr>
    {% if current_user.role_id == 1 %}
      <td>
        <form method="POST" action="{{ url_for('author_work_delete', author_id=author.id, work_id=work.id) }}">
          <input type="submit" value="Remove work from author"/>
        </form>
      </td>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div><br/>

{% endblock %}