{% extends "layout.html" %}

{% block body %}
  <h2>Works of {{ author.name }}</h2>
  {% if current_user.role_id == 1 %}
  <a href="{{ url_for('author_editnameform', author_id=author.id) }}">Edit name of author</a>
  <br/><br/>
  {% endif %}

  <div class="table-responsive"> 
  <table class="table">
    <thead>
      <tr>
        <th>Work</th>
        <th>Published</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for work in works %}
    {% if work.id == -10 %}
    <tr>
      <td>No works added yet for {{ author.name }}</td>
      <td></td>
    </tr>
    {% else %}
    <tr>
      <td>
        <a href="{{ url_for('work_view', work_id=work.id) }}">{{ work.name }}</a>
      </td>
      <td>{{ work.published }}</td>
      {% if current_user.role_id == 1 %}
      <td>
        <form method="POST" action="{{ url_for('author_work_delete', author_id=author.id, work_id=work.id) }}">
          <input class="btn btn-outline-danger btn-sm" type="submit" value="Remove work from author"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div><br/>

  {% if current_user.is_authenticated %}
  <a href="{{ url_for('author_addworkform', author_id=author.id) }}">Add a work to author</a>
  {% endif %}


{% endblock %}