{% extends "layout.html" %}

{% block body %}
<h2>
  Welcome to MyBookshelf!
</h2>
<br/>

{% if user_count is defined %}
<p>
  We currently have 
  {% for count in user_count %}
  <span>{{ count.usercount }}</span>
  {% endfor %}
  registered users, with a total of 
  {% for count in user_count %}
  <span>{{ count.editions }}</span>
  editions in their bookshelves.
  {% endfor %}
</p>
{% endif %}

<p>
  Join our registered users to add editions to your digital bookshelf 
  and keep track of the contents of your bookshelves at home!
</p>

{% endblock %}