{% extends "layout.html" %}

{% block body %}
<h2>{{ user.name }}'s info</h2>

  <table class="table">
      <tr>
        <td>Name: </td>
        <td> {{ user.name }} </td>
        <td>
          <a href="{{ url_for('auth_editname_form', user_id=user.id) }}">Change name</a>
        </td>
      </tr>
      <tr>
        <td>Username: </td>
        <td>{{ user.username }}</td>
        <td>
          <a href="{{ url_for('auth_editusername_form', user_id=user.id) }}">Change username</a>
        </td>
      </tr>
      <tr>
        <td>Password: </td>
        <td></td>
        <td>
          <a href="{{ url_for('auth_editpassword_form', user_id=user.id) }}">Change password</a>
        </td>
      </tr>
  </table><br/><br/>

  <h3>Delete your account and Bookshelf: </h3><br/>
  <span class="text-danger">The decision to delete your account is final and cannot be reversed!</span>
  <br/><br/>
  <form method="POST" action="{{ url_for('auth_delete', user_id=user.id) }}">
    <input class="btn btn-danger" type="submit" value="DELETE ACCOUNT"/>
  </form>
{% endblock %}