{% extends "layout.html" %}

{% block body %}
  <h2>{{ edition.name }}</h2>

  <table class="table">
      <tr>
        <td>Name: </td>
        <td> {{ edition.name }} </td>
        <td>
          <a href="{{ url_for('edition_editnameform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Printed in: </td>
        <td> {{ edition.printed }} </td>
        <td>
          <a href="{{ url_for('edition_editprintedform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Publisher: </td>
        <td> {{ edition.publisher }} </td>
        <td>
          <a href="{{ url_for('edition_editpublisherform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Language: </td>
        <td> {{ edition.language }} </td>
        <td>
          <a href="{{ url_for('edition_editlanguageform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Read: </td>
        <td> {{ edition.read }} </td>
        <td>
          <a href="{{ url_for('edition_editreadform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Notes: </td>
        <td> {{ edition.notes }} </td>
        <td>
          <a href="{{ url_for('edition_editnotesform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Format: </td>
        <td> {{ format.name }} </td>
        <td>
          <a href="{{ url_for('edition_editformatform', edition_id=edition.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>Edition of the work: </td>
        {% if work.id != 1 %}
        <td> 
          <a href="{{ url_for('work_view', work_id=work.id) }}">{{ work.name }}</a> 
        </td>
        <td>
          <a href="{{ url_for('edition_editworkform', edition_id=edition.id) }}">Change work</a>
        </td>
        {% else %}
        <td>-</td>
        <td>
          <a href="{{ url_for('edition_editworkform', edition_id=edition.id) }}">Choose work</a>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td>Author(s): </td>
        <td>
          {% for author in authors %}
          {% if author.id == -10 %}
          <span>-<span>
          {% else %}
          <a href="{{ url_for('author_view', author_id=author.id) }}">{{ author.name }}</a><br/>
          {% endif %}
          {% endfor %}
        </td>
        <td></td>
      </tr>
  </table>
  
{% endblock %}
