{% extends "layout.html" %}

{% block body %}
  <h2>{{ current_user.name }}'s Bookshelf</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Printed</th>
      <th>Publisher</th>
      <th>Language</th>
      <th>Read</th>
      <th>Notes</th>
    </tr>
    {% for edition in editions %}
    <tr>
      <td>{{ edition.name }}</td>
      <td>{{ edition.printed }}</td>
      <td>{{ edition.publisher }}</td>
      <td>{{ edition.language }}</td>
      <td>{{ edition.read }}</td>
      <td>{{ edition.notes }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('editions_form') }}">Add a new edition to Bookshelf</a>
{% endblock %}