{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('work_addcategory', work_id=work_id) }}">
  <table class="table">
    <tr>
      <td>
	    {{ form.category.label }}
      </td>
      <td>
	    {{ form.category }}
      </td>
      <td>
        <ul>
          {% for error in form.category.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
	<input type="submit" value="Add Category"/>
      </td>
    </tr>
</form>
{% endblock %}