{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('work_editpublished', work_id=work_id) }}">
  <table class="table">
    <tr>
      <td>
	    {{ form.published.label }}
      </td>
      <td>
	    {{ form.published }}
      </td>
      <td>
        <ul>
          {% for error in form.published.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
	<input class="btn btn-dark" type="submit" value="Set Year of Publication"/>
      </td>
    </tr>
</form>
{% endblock %}