{% extends "layout.html" %}

{% block body %}
  <h2>Works</h2>
  <div class="table-responsive"> 
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Published</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for work in works %}
    <tr>
      <td>
        <a href="{{ url_for('work_view', work_id=work.id) }}">{{ work.name }}</a>
      </td>
      <td>{{ work.published }}</td>
      <td>{{ work.description }}</td>
      {% if current_user.role_id == 1 %}
      <td>
        <form method="POST" action="{{ url_for('work_delete', work_id=work.id) }}">
          <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete work"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div><br/>

  {% if current_user.is_authenticated %}
  <a href="{{ url_for('works_form') }}">Add a new work</a>
  {% endif %}

{% endblock %}