{% extends "layout.html" %}

{% block body %}
  <h2>Works</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Published</th>
      <th>Description</th>
    </tr>
    {% for work in works %}
    <tr>
      <td>{{ work.name }}</td>
      <td>{{ work.published }}</td>
      <td>{{ work.description }}</td>
      <td>
        <form method="POST" action="{{ url_for('work_delete', work_id=work.id) }}">
          <input type="submit" value="Delete work"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}