{% extends "layout.html" %}

{% block body %}
  <h2>{{ work.name }}</h2>

  <table class="table">
      <tr>
        <td>Author(s): </td>
        <td>
          {% for author in authors %}
          {% if author.id == -10 %}
          <span>-<span>
          {% else %}
          <a href="{{ url_for('author_view', author_id=author.id) }}">{{ author.name }}</a><br/>
          {% endif %}
          {% endfor %}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Name: </td>
        <td>{{ work.name }}</td>
        <td>
          {% if current_user.role_id == 1 %}
          <a href="{{ url_for('work_editnameform', work_id=work.id) }}">Edit</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Published in: </td>
        <td> {{ work.published }} </td>
        <td>
          {% if current_user.role_id == 1 %}
          <a href="{{ url_for('work_editpublishedform', work_id=work.id) }}">Edit</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Description: </td>
        <td> {{ work.description }} </td>
        <td>
          {% if current_user.role_id == 1 %}
          <a href="{{ url_for('work_editdescriptionform', work_id=work.id) }}">Edit</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Categories: </td>
        <td>
          {% for category in categories %}
          {% if category.id == -10 %}
          <span>-<span>
          {% else %}
          <a href="{{ url_for('category_view', category_id=category.id) }}">{{ category.name }}</a><br/>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            <a href="{{ url_for('work_addcategoryform', work_id=work.id) }}">Add a category</a><br/>
        </td>
      </tr>
  </table>
  
{% endblock %}