{% extends "layout.html" %}

{% block body %}
  <h2>{{ work.name }}</h2>

  <table>
      <tr>
        <td>
          <span>Name: {{ work.name }}</span>
          <a href="{{ url_for('work_editnameform', work_id=work.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>
          <span>Published in: {{ work.published }}</span>
          <a href="{{ url_for('work_editpublishedform', work_id=work.id) }}">Edit</a>
        </td>
      </tr>
      <tr>
        <td>
          <span>Description: {{ work.description }} </span>
          <a href="{{ url_for('work_editdescriptionform', work_id=work.id) }}">Edit</a>
        </td>
      </tr>
  </table>
  
{% endblock %}